<div class="container-fluid bg-DarkBlue px-3 px-md-5 pt-4 pb-2 topHeader">
    <div class="row">
        <div class="col-lg-9 col-md-8 col-12 d-flex justify-content-bottom position-relative">
            <h4 class="text-white fw-bold bottom-0 mb-3 d-flex">
                <i class="bi bi-list mobileIcon d-block d-md-none me-2"></i> Aditya Birla Consultancy
            </h4>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
            <div class="border border-white border-1 rounded-pill p-1 px-2 d-flex text-white mb-2 align-items-center">
                <i class="bi bi-person-circle me-2 fs-4"></i> Rama Kumar
            </div>
            <a class="border border-white border-1 rounded-pill p-1 px-2 d-flex align-items-center text-white mb-2">
                <i class="bi bi-power fs-4 me-2"></i> Sign out
            </a>
        </div>
    </div>
</div>