<h6 class="text-basicColorDarkGray fw-bold">
    [Current FY] Reconciliation Statements
</h6>

<div class="table-responsive">
    <table class="table tableBroder mt-4 table-borderless align-middle">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Months</th>
                <th scope="col">No. of Statements</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <td>February</td>
                <td>109</td>
                <td></td>
    
            </tr>
            <tr>
                <th scope="row"></th>
                <td>January</td>
                <td>56</td>
                <td></td>    
            </tr>
            <tr>
                <th scope="row"></th>
                <td>December</td>
                <td>485</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>November</td>
                <td>85</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>October</td>
                <td>38</td>
                <td></td>
            </tr>

            <tr>
                <th scope="row"></th>
                <td>September</td>
                <td>503</td>
                <td></td>
            </tr>

            <tr>
                <th scope="row"></th>
                <td>August</td>
                <td>114</td>
                <td></td>
            </tr>

            <tr>
                <th scope="row" class="text-star"></th>
                <td>July</td>
                <td>49</td>
                <td></td>
            </tr>

            <tr>
                <th scope="row"></th>
                <td>June</td>
                <td>509</td>
                <td></td>
            </tr>

            <tr>
                <th scope="row"></th>
                <td>May</td>
                <td>136</td>
                <td></td>
            </tr>
    
        </tbody>
    </table>
</div>
