<div class="container-fluid px-0">
    <p class="text-basicColorDarkGray fw-bold">
        Latest Signed-off Reconciliation Statements
    </p>
    <form>

    </form>
    <table class="table tableBroder mt-4 table-borderless">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Sl. No.</th>
                <th scope="col">Partner</th>
                <th scope="col">Sub group</th>
                <th scope="col">Reco To Date</th>
                <th scope="col">Sign-off Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Partner-C</td>
                <td>Sub-group-3</td>
                <td>21-Dec-2022</td>
                <td>23-Mar-2022</td>
                <td>
                    <button class="btn btn-light shadow d-flex justify-content-center align-items-center">
                        <i class="bi bi-envelope me-2"></i>  E- mail
                    </button>
                </td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Partner-C</td>
                <td>Sub-group-3</td>
                <td>21-Dec-2022</td>
                <td>23-Mar-2022</td>
                <td>
                    <button class="btn btn-light shadow d-flex justify-content-center align-items-center">
                        <i class="bi bi-envelope me-2"></i>  E- mail
                    </button>
                </td>
                
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Partner-C</td>
                <td>Sub-group-3</td>
                <td>21-Dec-2022</td>
                <td>23-Mar-2022</td>
                <td>
                    <button class="btn btn-light shadow d-flex justify-content-center align-items-center">
                        <i class="bi bi-envelope me-2"></i>  E- mail
                    </button>
                </td>
                
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Partner-C</td>
                <td>Sub-group-3</td>
                <td>21-Dec-2022</td>
                <td>23-Mar-2022</td>
                <td>
                    <button class="btn btn-light shadow d-flex justify-content-center align-items-center">
                        <i class="bi bi-envelope me-2"></i>  E- mail
                    </button>
                </td>
                
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Partner-C</td>
                <td>Sub-group-3</td>
                <td>21-Dec-2022</td>
                <td>23-Mar-2022</td>
                <td>
                    <button class="btn btn-light shadow d-flex justify-content-center align-items-center">
                        <i class="bi bi-envelope me-2"></i>  E- mail
                    </button>
                </td>
                
            </tr>
            
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-9 col-md-8 col-12 d-flex justify-content-start align-items-center">
            <p class="mb-3 mb-md-0 text-basicColorDarkGray fw-bold">
                Click here to mail all the latest Signed-off Reconciliation Statements
            </p>
        </div>
        <div class="col-lg-3 col-md-4 col-12 text-start text-md-end">
            <button class="btn btn-DarkOrange fw-bold">Mail all Statements</button>
        </div>
    </div>

</div>